<%=display_flash %>
<div class='top-label'>
  <strong>Sign Up</strong>
</div>

<div>
   <%= devise_error_messages! %>
  <%= form_for(resource, as: resource_name, url: signup_post_path, html: {class: 'form-horizontal'}) do |f| %>   
    <div class="field form-group">
      <%= f.label :name, :class => 'control-label col-sm-2' %>
      <div class="col-sm-6">
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          <%=%>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :email, :class => 'control-label col-sm-2' %>
      <div class="col-sm-6">
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
    </div> 
     <div class="field form-group">
      <%= f.label :team_name, :class => 'control-label col-sm-2' %>
      <div class="col-sm-6">
          <%= f.text_field :team_name, autofocus: true, class: 'form-control' %>
      </div>
    </div>   
  <!--   <div class="field form-group">
      <%= f.label :password, :class => 'control-label col-sm-2' %>
      <div class="col-sm-6">
        <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autofocus: true, class: 'form-control' %>
      </div>
    </div>  
    <div class='field form-group'>
      <%=f.label :password_confirmation, :class => 'control-label col-sm-2'%>
      <div class='col-sm-6'>
        <%=f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>
    </div> -->
     <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Sign Up</button>
        </div>
      </div>

  <% end %>
</div>
<%#= render "devise/shared/links" %>
