<%=form_tag '/time' do %>
   Minutes: <%=select_minute(Time.now, field_name: 'minutes')%><br/>
   Hours:   <%=select_hour(Time.now, field_name: 'hours')%><br/>
    <%=time_zone_select( "user", "time_zone", ActiveSupport::TimeZone.all.sort, model: ActiveSupport::TimeZone)%>
   <%=submit_tag("Save")%>
<% end %>


<form accept-charset="UTF-8" action="https://formkeep.com/f/8da6f9f97a7c" method="POST">
  <input type="hidden" name="utf8" value="✓">
  <input type="email" name="email" placeholder="Your Email">
  <input type="text" name="name" placeholder="Your Name">
  <input type="url" name="url" placeholder="Your Website">
  <input type="submit"/>
</form>
