<%=javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.5/fullcalendar.min.js"%>
<%=stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.5/fullcalendar.min.css"%>
<!--<div class="template">-->
  <!--<div class="col-sm-12">-->
    <!--<table class="table table-striped">-->
      <!--<thead>-->
        <!--<th>Date</th>-->
        <!--<th>Status</th>-->
      <!--</thead>-->
      <!--<% current_member.statuses.order("created_at DESC").each do |status| %>-->
      <!--<tr>-->
        <!--<td><%=status.created_at.strftime("%v")%></td>-->
        <!--<td><%=status.today_plan%><input type="text" style='display:none;' value="<%=status.today_plan%>" disabled="disabled"/></td>-->
        <!--<td><a class='editable' href="<%=edit_status_path(status)%>">Edit</a></td>-->
      <!--</tr>-->
      <!--<% end %>-->
    <!--</table>-->
  <!--</div>-->
<!--</div>-->

<div id="calendar">

</div>

<script>

  function parseDate(created_at){
    var date = (new Date(Date.parse(created_at)));
    return [String(date.getFullYear()), String(date.getMonth() +1), String(date.getDate())].join("-");
  }
  $("#calendar").fullCalendar({
      events: function(start, end, timezone, callback) {
          $.ajax({
              url: '/getStatus?user_id=<%=current_member.id%>',
              dataType: 'json',
              data: {
                  // our hypothetical feed requires UNIX timestamps
                  start: start.unix(),
                  end: end.unix()
              },
              success: function(docs) {
                  var events = [];
                  $(docs).each(function(index, doc) {
                      events.push({
                          title: doc.today_plan,
                          start: parseDate(doc.created_at)
                      });
                  });
                  callback(events);
              }
          });
      },
      eventRender: function(event, element) {
          $(element).find(".fc-time").remove();     
          $(element).tooltip({title: event.title});             
      }
  })
</script>