<!DOCTYPE html>
<html>
<head>
  <title>StatusManager</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
    <h1 class="heading">Status Manager</h1>
    <div>
        <%=render :partial => 'shared_partials/claim_text'%>
        <%=render :partial => 'shared_partials/header_links'%>
    </div>
</header>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
